.filter{
  margin-top: 150px;
}
.all-Products {
  display: flex;
  justify-content: center;
  align-items: start;
  gap: 10px;
  flex-wrap: wrap;
}
.all-Products .pro-card{
  width: 200px;
  display: flex;
  flex-direction: column;
   border-top-left-radius: 6px;
   border-top-right-radius: 6px;
   box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.all-Products .pro-card .pro-poster{
  width: 100%;
  height: auto;
  background-color: rgb(181, 205, 231);
  position: relative;
  border-top-left-radius: 6px;
   border-top-right-radius: 6px;
  
}


.all-Products .pro-card .pro-poster .add-favo{
  position: absolute;
  bottom: -20px;
  right: 20px;
  background-color: rgba(255, 255, 255, 0.827);
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
cursor: pointer;
}
.all-Products .pro-card .pro-poster img{
  width: 100%;
  border-top-left-radius: 6px;
   border-top-right-radius: 6px;
}
.all-Products .pro-card  .pro-desc h3{
 font-weight: bold;
 text-transform: capitalize;
  font-size: 13px;
}

.all-Products .pro-card  .pro-desc p{
  color: gray;
  font-size: 12px;
}
.all-Products .pro-card  .card-footer{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.all-Products .pro-card  .card-footer .btn-buy{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #8a57ea;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(139, 87, 234, 0.608) 0px 10px 10px -5px;
  width:  50px;
  height: 40px;
  border-radius: 4px;
}
.all-Products .pro-card  .card-footer .btn-buy a{
  color: white;
  text-transform: uppercase;
  font-weight: bold;
}

.all-Products .pro-card .pro-info div{
  display: flex;
  flex-direction: column;
  text-align: center;
}

.all-Products .pro-card .pro-info div p{
  color: gray;
  text-transform: capitalize;
  font-size: 10px;

}
.all-Products .pro-card .pro-info div  span{
  font-weight: bold;
  text-transform: capitalize;
  font-size: 10px;

}
.discover-more-products{
  width: 300px;
  height: 45px;
  background-color: #8a57ea;
  color: white;
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(139, 87, 234, 0.608) 0px 10px 10px -5px;

}


@media (max-width:600px) {
  .all-Products {
    gap: 5px;
  }
  .all-Products .pro-card{
    width: 48%;
  }
}