.footer{
  width: 100%;
  height:fit-content;
  margin-top: 50px;
  border:  1px solid grey;
  padding: 10px 100px;
}
.footer .contact-section{
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 50px;
  flex-wrap: wrap;
}
.footer .contact-section div span{
  color: #8a57ea;
  font-size: 14px;
  font-weight: bold;
  text-transform: capitalize;
}
.footer .contact-section div p{
  color: gray;
  font-size: 14px;
}

.footer .info-about-us{
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  flex-wrap: wrap;
  margin-top: 20px;
   gap: 50px;
  
}
.footer .info-about-us .brand{
  width: 25%;
}
.footer .info-about-us .brand strong{
  color: #8a57ea;
  text-transform: capitalize;
   font-weight: bold;
}
.footer .info-about-us .brand p{
  font-size: 14px;
  color: grey;
}


.footer .useful-links strong{
  color: #8a57ea;
  text-transform: capitalize;
  font-weight: bold;
}
.footer .useful-links ul li a{
  color: rgba(50, 112, 246, 0.774);
  font-size: 14px;
}
.footer .follow-us {
  text-align: center;
}
.footer .follow-us strong{
  color: #8a57ea;
   text-transform: capitalize;
}
.footer .follow-us .platforms a{
   width: 25px;
   height: 25px;
   border-radius: 50%;
   border: 1px rgb(203, 201, 201) solid;
   display: flex;
   justify-content: center;
   align-items: center;
   color: #8a57ea;
   cursor: pointer;
}
.footer .follow-us .platforms a:hover{
  transition: .4s linear ;
  background-color: #8a57ea;
  color: white;
  transform: scale(1.2);
}
.footer .payment-method-website{
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  gap: 50px;

}
.footer .payment-method-website .payment strong{
  color: #8a57ea;
  text-transform: capitalize;
  
}

.footer .payment-method-website a{
  color: gray;
  font-size: 14px;
}

@media (max-width:600px){
  .footer .info-about-us .brand{
    width: 100%;
  }
}