aside{
  width: 15%;
  height: 100vh;
  padding: 5px;
  position: fixed;
  top: 80px;
  left: -15%;
  z-index: 99;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  background-color: white;
  transition: .4s linear all;
}
.aside.hidesidbar{
  left: 0;
}


.aside .hide-sidbarbtn{
  position: absolute;
  top: 0;
  right: -29px;
  width: 30px;
  height: 30px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  padding: 5px;
  display: flex;
  background-color: white;
  box-shadow: rgba(99, 99, 83, 0.2) 7px -4px 18px -8px;
  
  justify-content: center;
  align-items: center;
  cursor: pointer;
  color: rgb(6, 142, 99);

}

aside .sidebar{
  width: 100%;
  height: 100%;
  
  
}

aside .sidebar .nav-brand{
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #d9d9d9;
  text-align: center;
  width: 100%;
  height: 80px;

}
aside .sidebar .nav-brand a{
  font-size: 18px;
  font-weight: bold;
  color: #8a57ea;
  display: flex;
  text-align: center;
}
aside .sidebar .nav-brand a span{
  color: #8a57ea;
}
aside .sidebar .nav-brand a svg{
  color: #00bd9d;
}
aside .sidebar .nav-menu{
  display: flex;
  flex-direction: column;
  gap: 10px;
}
aside .sidebar .nav-menu li a{
  font-size: 14px;
  display: flex;
  align-items: center;
  gap: 10px;
  color: #2b2b2b;
  padding: 10px;
  border-radius: 6px;
  transition: .4s ease-in-out;
  
}
aside .sidebar .nav-menu li a:hover{
  background-color: #8a57ea;
  color: white;
}



/* Mobile phones (up to 768px) */
@media (max-width: 768px) {
  
  aside {
    padding: 2px;
    width: 200px;
    top: 60px;
    left:-200px ;
    
  }
  .aside.hidesidbar{
    left: 0;
  }

  aside .sidebar .nav-menu li a{
    font-size: 12px;
  }

  
}
